body {
    background-color: darkgreen;

    font-family: times;
}

.main {
    width: 960px;
    margin: auto;
}

.topbar {
    color: white;
    text-align: center;
}

.topbar > p {
    font-size: 3rem;
}

.introduction {
    width: 66%;
    margin: auto;

    font-size: 1.7rem;
}

.button {
    width: 8rem;;
    height: 2.2rem;;

    margin: 0.5rem auto 0.5rem auto;
    line-height: 2.2rem;

    color: white;
    font-size: 1.3rem;

    cursor: default;
}

.red-button {
    background-color: red;
}

.red-button:hover {
    background-color: orange;
}

.red-button:active {
    background-color: orange;
}

.purple-button {
    background-color: purple;
}

.purple-button:hover {
    background-color: magenta;
}

.purple-button:active {
    background-color: magenta;
}

.thoughts {
    width: 80%;
    margin: auto;
}

.thought-box {
    margin: 3rem auto 3rem auto;
}

.thought-box input[type="text"] {
    width: 100%;

    color: white;
    font-family: times;
    font-size: 1.7rem;
    text-align: center;

    border: 2px solid darkgrey;
    background-color: inherit;
}

.thought-words {
    margin: auto;
    padding: 3px 5px 3px 5px;

    color: white;
    font-family: times;
    font-size: 1.7rem;
    text-align: center;
}

.thought-word {
    display: inline-block;
    border: 0.3rem solid rgba(0, 0, 0, 0);

    cursor: default;
}

.thought-word:hover {
    border: 0.3rem solid orange;
    background-color: orange;
}
