body {
    background-color: darkgreen;

    font-family: times;
}

.main {
    width: 960px;
    margin: auto;
}

.topbar {
    color: white;
    text-align: center;
}

.topbar p {
    font-size: 3rem;
}

.introduction {
    width: 66%;
    margin: auto;

    font-size: 1.7rem;
}

.button {
    width: 8rem;;
    height: 1.2rem;;

    margin: 0.5rem auto 0.5rem auto;
    padding: 0.5rem 0rem 0.5rem 0rem;

    color: white;
    font-size: 1.3rem;

    cursor: default;
}

.red-button {
    background-color: red;
}

.red-button:hover {
    background-color: orange;
}

.red-button:active {
    background-color: red;
}
